# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.restoreBackup
.flattened-pom.xml
dependency-reduced-pom.xml
build.log
release.properties
/src/main/resources/application.properties

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# VS Code
.vscode/

# Eclipse
.settings/
.classpath
.project
.factorypath

# OS
.DS_Store
Thumbs.db

# Application specific
logs/
/uploads/
*.log
